.idea/
Gemfile.lock
/features/support/config
/features/support/documents/s3_images/*.pdf
/features/support/documents/s3_images/*.png
/features/support/documents/s3_images/*.jpg
/features/support/documents/s3_images/*.jpeg
/features/support/documents/*.pdf
/features/support/documents/*.png
/features/support/documents/*.jpg
/features/support/documents/*.jpeg
/features/support/documents/*.csv
/reports/html/*.html
/reports/target/*.json
/reports/allure-results/*.txt
/reports/allure-results/*.json
/reports/allure-results/*.csv
/reports/allure-results/*.properties
*.csv
*.log
.DS_Store
evidence_temp.tx